
$primary: #00b7e2;
$danger: #e83a3d;
$info: $teal;
$enable-gradients: true;
$enable-shadows: true;
$enable-rounded: false;
$enable-hover-media-query: true;
$enable-responsive-font-sizes: true;
$body-bg: $gray-100;
$link-hover-decoration: none;
$grid-columns: 16;
$grid-gutter-width: 10px;