header .navbar:last-of-type {
    border-bottom: 3px solid var(--vermelho1);
}

header .navbar #logo_name{
    width: 180px !important;
}

header #product_categories {
    display: flex;
    align-items: start;
    justify-content: center;
}

header #product_categories div {
    font-size: 0.75rem;
    text-align: center;
}

header #product_categories div a {
    text-decoration: none;
}

header .header_category_item svg{
    padding: 5px;
    max-width: 52px;
    max-height: 52px;
    transition: 0.25s;
    border-radius: 50%;
}

header .header_category_item svg path[class$="-1"]{
    fill: var(--azul1)
}

header .header_category_item:hover svg{
    background: var(--azul1)
}

header .header_category_item:hover svg path[class$="-1"] {
    fill: var(--gray);
}

header #mobile_categories svg{
    padding: 5px;
    width: 36px;
    height: 36px;
    transition: 0.25s;
}

header #mobile_categories hr{
    border: 1px solid var(--vermelho1);
    width: 100%;
}

header #mobile_categories #minhaConta *{
    color: var(--gray) !important;
}

header #carrinho{
    line-height: 38px;
}

header svg#carrinho{
    width: 36px;
    height: 36px !important;
    float: left;
}

header svg#carrinho ~ div{
    padding-left: 0.25rem;
    float: left;
    line-height: 38px;
}

header input[name=s]{
    width: calc(100% - 45px)
}

@media screen and (max-width: 769px) {
    header svg#carrinho{
        width: 24px;
        height: 24px !important;
    }
}